@inject CytoscapeService CytoscapeService

<h4 style="align-items: center; text-align: center;">@ChartTable.Source</h4>
<RadzenChart Style="margin-bottom: 50px; margin-top: -40px; min-height: fit-content;">
	<RadzenBarSeries Data="@ChartTable.ElementsTarget" CategoryProperty="@nameof(ChartElement.Target)" Title="@ChartTable.Source"LineType="LineType.Solid" ValueProperty="@nameof(ChartElement.WeigthPorcent)">
		<RadzenSeriesDataLabels Visible="true" />
	</RadzenBarSeries>

    <RadzenValueAxis Formatter="@FormatAsPercentage">
	    <RadzenGridLines Visible="true" />
	    <RadzenAxisTitle Text="Weigths Origin to Destiny Terms" />
    </RadzenValueAxis>

    <RadzenBarOptions Radius="5" Height="10"  />
</RadzenChart>

@code{
	private string a = "a";
	[Parameter] public ChartTable ChartTable { get; set; } = new();

	string FormatAsPercentage(object value)
	{
		return Convert.ToSingle(value).ToString("P2", CultureInfo.InvariantCulture);
	}
}