@inject CytoscapeService CytoscapeService

<h4 style="align-items: center; text-align: center;">@ChartTable.Source</h4>
<RadzenChart Style=@($"height: {ChartHeight}; margin-bottom: 50px; margin-top: -40px;")>
	<RadzenBarSeries Data="@ChartTable.ElementsTarget" CategoryProperty="@nameof(ChartElement.Target)" Title="@ChartTable.Source"LineType="LineType.Solid" ValueProperty="@nameof(ChartElement.WeigthPorcent)">
		<RadzenSeriesDataLabels Visible="true" />
	</RadzenBarSeries>

    <RadzenValueAxis Formatter="@FormatAsPercentage">
	    <RadzenGridLines Visible="true" />
	    <RadzenAxisTitle Text="Weigths Origin to Destiny Terms" />
    </RadzenValueAxis>

	<RadzenBarOptions Radius="5" Height="8" Margin="12" />
</RadzenChart>

@code{
	[Parameter] public ChartTable ChartTable { get; set; } = new();
	private string ChartHeight => $"{Math.Min(Math.Max(ChartTable.ElementsTarget.Count * 25, 300), 800)}px";

	string FormatAsPercentage(object value)
	{
		return Convert.ToSingle(value).ToString("P2", CultureInfo.InvariantCulture);
	}
}